
body{
    background-color: antiquewhite;
}

#wrapper{
    margin-top: 150px;
    margin-left :150px ;
    position: relative;
}

.book{
    margin: right 35px ;
    display: flex;
    flex-direction: column;
    width: 300px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin-top: 100px;
    margin-left: 30%;
}

#container{
    margin-top: 50px;
    margin-left: 10px;
    position: relative;
    width:500px;
}
#categoryMenu{
    position: absolute;
    /* width: 20px; */
}

button{
    left: 20%;
    top: 150px;
    position: relative;
    /* width: 20px; */
}

